<!-- cta-cosmetics Collection Section Start -->
<section class="cta-section fix">
    <div class="cosmetics-wrap bg-cover"
        style="background-image: url(/assets/img/car/cta8.png); width: 100%; height: 250px; background-size: cover; background-position: center;">
        <div class="container" style="width: 100%; height: 100%;">
            <div class="cta-wrapper"
                style="width: 100%; height: 50%; display: flex; align-items: start; justify-content: center; flex-direction: column; text-align: left;">
                <div class="cta-content" style="text-align: left; width: 80%;">
                    <h2 class="wow fadeInUp" data-wow-delay=".3s"
                        style="color: rgb(244, 243, 243); font-size: 28px; text-align: left;">Ride Smart. Travel Safe.</h2>
                    <h3 class="wow fadeInUp" data-wow-delay=".5s" style="font-size: 24px; text-align: left; color: rgb(250, 245, 248);">Trust Metro
                        cabs for secure, and stress-free travel every time.</h3>
                </div>
            </div>
        </div>
        <button>
            <a href="Booking" class="theme-btn width-60px">Book Now</a>
        </button>
    </div>
</section>

    
    <br>

<!-- <div class="cta-cosmetics-section fix">
 -->

<!-- footer-section Start -->
<footer class="footer-section footer-bg-2 fix">
    <div class="container">
            <div class="container">
                <div class="row justify-content-center destination-section" style="margin: 0;padding-bottom: 20px;">
                    <div class="col-lg-4 col-md-6 col-sm-6 justify-content-lg-center text-center mt-5">
                       
                    <div class="footer-widget-box list text-center mb-20">
                        <h3 class="mb-2 footer-head"
                            style="color: rgb(251, 249, 250); font-size: 24px; font-family: 'Poppins';">Chennai</h3>
                        <ul class="footer-list" style="line-height: 27px; padding: 0; margin: 0; font-family: 'Poppins';">
                            <li><a href="/one-way-taxi/Chennai-to-Bangalore"
                                    style="color: rgb(251, 249, 250); font-size: 14px; font-family: 'Poppins';">Chennai to
                                    Bangalore</a></li>
                            <li><a href="/one-way-taxi/Chennai-to-Mysore"
                                    style="color: rgb(251, 249, 250); font-size: 14px; font-family: 'Poppins'">Chennai to
                                    Mysore</a></li>
                            <li><a href="/one-way-taxi/Chennai-to-trichy"
                                    style="color: rgb(251, 249, 250); font-size: 14px; font-family: 'Poppins'">Chennai to
                                    trichy</a></li>
                            <li><a href="/one-way-taxi/Chennai-to-Ooty"
                                    style="color: rgb(251, 249, 250); font-size: 14px; font-family: 'Poppins'">Chennai to
                                    Ooty</a></li>
                            <li><a href="/one-way-taxi/Chennai-to-Coimbatore"
                                    style="color: rgb(251, 249, 250); font-size: 14px; font-family: 'Poppins'">Chennai to
                                    Coimbatore</a></li>
                            <li><a href="/one-way-taxi/Chennai-to-Hydrerabad"
                                    style="color: rgb(251, 249, 250); font-size: 14px; font-family: 'Poppins'">Chennai to
                                    Hydrerabad</a></li>
                            <li><a href="/one-way-taxi/Chennai-to-Madurai"
                                    style="color: rgb(251, 249, 250); font-size: 14px; font-family: 'Poppins'">Chennai to
                                    Madurai</a></li>
                        </ul>
                    </div>

            
                        <div class="col-lg-12 col-md-6 col-sm-6 justify-content-lg-center text-center mt-5">
                            <div class="footer-widget-box list text-center">
                                <h3 class="mb-2 footer-head" style="color: rgb(241, 234, 236);">Ooty</h3>
                                <ul class="footer-list">
                                    <li><a href="/one-way-taxi/Ooty-to-Mysore" style="color: rgb(251, 249, 250); font-size: 14
                                        px; font-family: 'Poppins'">Ooty to Mysore</a>
                                    </li>
                                    <li><a href="/one-way-taxi/Ooty-to-Coimbatore" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Ooty to
                                            Coimbatore</a></li>
                                    <li><a href="/one-way-taxi/Ooty-to-Bangalore" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Ooty to
                                            Bangalore</a></li>
                                    <li><a href="/one-way-taxi/Ooty-to-Hydrerabad" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Ooty to
                                            Hydrerabad</a></li>
                                    <li><a href="/one-way-taxi/Ooty-to-Chennai" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Ooty to
                                            Chennai</a></li>
                                    <li><a href="/one-way-taxi/Ooty-to-Madhurai" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Ooty to
                                            Madurai</a></li>
                                    <li><a href="/one-way-taxi/Ooty-to-trichy" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Ooty to trichy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-4 col-md-6 col-sm-6 justify-content-lg-center text-center mt-5">
                        <div class="footer-widget-box list text-center mb-20">
                            <h3 class="mb-2 footer-head" style="color: rgb(245, 239, 240);">Mysore</h3>
                            <ul class="footer-list" style="line-height: 30px;">
                                <li><a href="/one-way-taxi/Mysore-to-Bangalore" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Mysore to
                                        Bangalore</a></li>
                                <li><a href="/one-way-taxi/Mysore-to-trichy" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Mysore to trichy</a>
                                </li>
                                <li><a href="/one-way-taxi/Mysore-to-Chennai" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Mysore to
                                        Chennai</a></li>
                                <li><a href="/one-way-taxi/Mysore-to-Madhurai" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Mysore to
                                        Madurai</a></li>
                                <li><a href="/one-way-taxi/Mysore-to-Hydrerabad" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Mysore to
                                        Hydrerabad</a></li>
                                <li><a href="/one-way-taxi/Mysore-to-Coimbatore" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Mysore to
                                        Coimbatore</a></li>
                                <li><a href="/one-way-taxi/Mysore-to-Ooty" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Mysore to Ooty</a>
                                </li>
                            </ul>
                        </div>
            
                        <div class="col-lg-12 col-md-6 col-sm-6 justify-content-lg-center text-center mt-5">
                            <div class="footer-widget-box list text-center">
                                <h3 class="mb-2 footer-head" style="color: rgb(243, 237, 238);">Bangalore</h3>
                                <ul class="footer-list" style="line-height: 30px;">
                                    <li><a href="/one-way-taxi/Bangalore-to-Mysore" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Bangalore to
                                            Mysore</a></li>
                                    <li><a href="/one-way-taxi/Bangalore-to-Chennai" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Bangalore to
                                            Chennai</a></li>
                                    <li><a href="/one-way-taxi/Bangalore-to-Coimbatore" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Bangalore
                                            to Coimbatore</a></li>
                                    <li><a href="/one-way-taxi/Bangalore-to-Ooty" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Bangalore to
                                            Ooty</a></li>
                                    <li><a href="/one-way-taxi/Bangalore-to-Madhurai" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Bangalore
                                            to Madurai</a></li>
                                    <li><a href="/one-way-taxi/Bangalore-to-Hydrerabad" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Bangalore
                                            to Hydrerabad</a></li>
                                    <li><a href="/one-way-taxi/Bangalore-to-trichy" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Bangalore to
                                            trichy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-4 col-md-6 col-sm-6 justify-content-lg-center text-center mt-5">
                        <div class="footer-widget-box list text-center">
                            <h3 class="mb-2 footer-head" style="color: rgb(249, 241, 243);">Madurai</h3>
                            <ul class="footer-list">
                                <li><a href="/one-way-taxi/Madhurai-to-trichy" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Madhurai to
                                        trichy</a></li>
                                <li><a href="/one-way-taxi/Madhurai-to-Bangalore" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Madhurai to
                                        Bangalore</a></li>
                                <li><a href="/one-way-taxi/Madhurai-to-Mysore" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Madhurai to
                                        Mysore</a></li>
                                <li><a href="/one-way-taxi/Madhurai-to-Hydrerabad" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Madhurai to
                                        Hydrerabad</a></li>
                                <li><a href="/one-way-taxi/Madhurai-to-Ooty" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Madhurai to Ooty</a>
                                </li>
                                <li><a href="/one-way-taxi/Madhurai-to-Coimbatore" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Madhurai to
                                        Coimbatore</a></li>
                                <li><a href="/one-way-taxi/Madhurai-to-Chennai" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Madhurai to
                                        Chennai</a></li>
                            </ul>
                        </div>
                    </div>
            
                    <div class="col-lg-4 col-md-6 col-sm-6 justify-content-lg-center text-center mt-5">
                        <div class="footer-widget-box list text-center">
                            <h3 class="mb-2 footer-head" style="color: rgb(240, 238, 238);">Coimbatore</h3>
                            <ul class="footer-list">
                                <li><a href="/one-way-taxi/Coimbatore-to-Bangalore" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Coimbatore to
                                        Bangalore</a></li>
                                <li><a href="/one-way-taxi/Coimbatore-to-Mysore" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Coimbatore to
                                        Mysore</a></li>
                                <li><a href="/one-way-taxi/Coimbatore-to-Ooty" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Coimbatore to
                                        Ooty</a></li>
                                <li><a href="/one-way-taxi/Coimbatore-to-Madurai" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Coimbatore to
                                        Madurai</a></li>
                                <li><a href="/one-way-taxi/Coimbatore-to-trichy" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Coimbatore to
                                        trichy</a></li>
                                <li><a href="/one-way-taxi/Coimbatore-to-Chennai" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Coimbatore to
                                        Chennai</a></li>
                                <li><a href="/one-way-taxi/Coimbatore-to-Hydrerabad" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Coimbatore
                                        to Hydrerabad</a></li>
                            </ul>
                        </div>
                    </div>
            
                    <div class="col-lg-4 col-md-6 col-sm-6 justify-content-lg-center text-center mt-5">
                        <div class="footer-widget-box list text-center">
                            <h3 class="mb-2 footer-head" style="color: rgb(247, 243, 244);">Hyderabad</h3>
                            <ul class="footer-list">
                                <li><a href="/one-way-taxi/Hyderabad-to-Bangalore" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Hyderabad to
                                        Bangalore</a></li>
                                <li><a href="/one-way-taxi/Hyderabad-to-Mysore" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Hyderabad to
                                        Mysore</a></li>
                                <li><a href="/one-way-taxi/Hyderabad-to-Ooty" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Hyderabad to
                                        Ooty</a></li>
                                <li><a href="/one-way-taxi/Hyderabad-to-Madurai" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Hyderabad to
                                        Madurai</a></li>
                                <li><a href="/one-way-taxi/Hyderabad-to-trichy" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Hyderabad to
                                        trichy</a></li>
                                <li><a href="/one-way-taxi/Hyderabad-to-Chennai" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Hyderabad to
                                        Chennai</a></li>
                                <li><a href="/one-way-taxi/Hyderabad-to-Salem" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Hyderabad to
                                        Coimbatore</a></li>
                            </ul>
                        </div>
                    </div>
            
                    <div class="col-lg-4 col-md-6 col-sm-6 justify-content-lg-center text-center mt-5">
                        <div class="footer-widget-box list text-center">
                            <h3 class="mb-2 footer-head" style="color: rgb(245, 243, 243);">Trichy</h3>
                            <ul class="footer-list">
                                <li><a href="/one-way-taxi/Trichy-to-Bangalore" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Trichy to
                                        Bangalore</a></li>
                                <li><a href="/one-way-taxi/Trichy-to-Mysore" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Trichy to Mysore</a>
                                </li>
                                <li><a href="/one-way-taxi/Trichy-to-Ooty" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Trichy to Ooty</a>
                                </li>
                                <li><a href="/one-way-taxi/Trichy-to-Madurai" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Trichy to
                                        Madurai</a></li>
                                <li><a href="/one-way-taxi/Trichy-to-Coimbatore" style="color: rgb(251, 249, 250);font-size: 14px;">Trichy to
                                        Coimbatore</a></li>
                                <li><a href="/one-way-taxi/Trichy-to-Chennai" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Trichy to
                                        Chennai</a></li>
                                <li><a href="/one-way-taxi/Trichy-to-Hyderabad" style="color: rgb(251, 249, 250);font-size: 14px; font-family: 'Poppins'">Trichy to
                                        Hyderabad</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

        <div class="footer-widget-wrapper style-2">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <a href="/" class="footer-logo">
                                <img src="/assets/img/logo/logo.jpg" alt="logo-img">
                            </a>  
                        </div>
                    <div class="footer-content">
                        <div class="social-item">
                            <h6 style="color: rgb(194, 188, 188); text-align: left; margin: 0;">
                                Elevate your travel experience with Metro cabs. Explore top destinations, enjoy
                                comfortable rides, and experience
                                transparent and affordable tariffs. Book your journey now and let us take you where
                                you need to go!
                            </h6>
                        </div>
                    </div>

                    </div>
                </div>
<div class="col-xl-3 col-lg-4 col-md-4 ps-lg-5 wow fadeInUp" data-wow-delay=".4s" style="text-align: left;">
    <div class="single-footer-widget">
        <div class="widget-head">
            <h3 style="text-align: left;">Quick Link</h3>
        </div>
        <ul class="list-items style-color" style="text-align: left; padding-left: 0; list-style-position: inside;">
            <li><a href="/about">About</a></li>
            <li><a href="/Booking">Booking</a></li>
            <li><a href="/vehicle">Vehicle</a></li>
            <li><a href="/cities">Cities</a></li>
            <li><a href="/tariff">Tariff</a></li>
            <li><a href="/service">Service</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</div>

<div class="col-xl-3 col-lg-4 col-md-4 ps-lg-5 wow fadeInUp" data-wow-delay=".6s" style="text-align: left;">
    <div class="single-footer-widget">
        <div class="widget-head">
            <h3 style="text-align: left;">Top Cities</h3>
        </div>
        <ul class="list-items style-color" style="text-align: left; padding-left: 0; list-style-position: inside;">
            <li><a href="/cities">Chennai</a></li>
            <li><a href="/cities">Hyderabad</a></li>
            <li><a href="/cities">Mysore</a></li>
            <li><a href="/cities">Madurai</a></li>
            <li><a href="/cities">Trichy</a></li>
            <li><a href="/cities">Coimbatore</a></li>
        </ul>
    </div>
</div>

<div class="col-xl-3 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".8s" style="text-align: left;">
    <div class="single-footer-widget">
        <div class="widget-head">
            <h3 style="text-align: left;">Contact us</h3>
        </div>
        <div class="footer-content" style="text-align: left;">
            <a href="/contact"></a>
            <div class="text" style="text-align: left;">
                <p>Got Questions? Call us</p>
                <a href="tel:+917902876383">+917902876383</a>
            </div>
            <ul class="contact-list" style="padding-left: 0; list-style-position: inside; text-align: left;">
                <li>
                    <i class="fa-regular fa-envelope"></i>
                    <a href="mailto:cartly@gmail.com">metrocab@gmail.com</a>
                </li>
                <li>
                    <i class="fa-regular fa-location-dot"></i>
                    <a href="/contact"></a>
                    79 Sleepy Hollow St.<br>
                    sravanmpatti , CBE , SNS
                </li>
            </ul>
        </div>
    </div>
</div>

            </div>
        </div>
    </div>

    <style>
        .float {
            position: fixed;
            width: 55px;
            height: 55px;
            bottom: 10px;
            right: 20px;
            background-color: #4498ff;
            color: #FFF;
            border-radius: 30px;
            text-align: center;
            font-size: 30px;
            box-shadow: 0 3px 14px rgba(0, 0, 0, 0.45);
            z-index: 10000;
        }
    
        .my-float {
            width: 100%;
        }
    
        .float1 {
            position: fixed;
            width: 55px;
            height: 55px;
            bottom: 10px;
            left: 20px;
            color: #FFF !important;
            border-radius: 50px;
            text-align: center;
            font-size: 10px;
            box-shadow: 0 3px 14px rgba(0, 0, 0, 0.45);
            z-index: 10000;
        }
    
        .my-float1 {
            margin-top: 12px;
            color: white !important;
        }
    </style>


    <div class="floating-buttons-left">
      <a href="tel:+917902876383" class="float-call">
        <img src="/assets/img/car/call.gif" alt="Call" width="70" height="70">
      </a>
    </div>

    <!-- Right floating button -->
    <div class="floating-buttons-right">
      <a href="https://wa.me/+917902876383" target="_blank" class="float-whatsapp">
        <img src="/assets/img/car/whatsapp.gif" alt="WhatsApp" width="70" height="70">
      </a>
    </div>

    <style>
        .floating-buttons-left {
            position: fixed;
            left: 20px;
            bottom: 20px;
            z-index: 1000;
        }
    
        @media screen and (max-width: 768px) {
            .floating-buttons-left {
                left: 10px;
            }
        }
    
        @media screen and (max-width: 768px) {
            .floating-buttons-right {
                right: 10px;
            }
    
        }
    
        .floating-buttons-right {
            position: fixed;
            right: 20px;
            bottom: 20px;
            z-index: 1000;
        }
    
        .float-call,
        .float-whatsapp {
            display: block;
            margin: 10px 0;
            transition: transform 0.3s;
        }
    
        .float-call:hover,
        .float-whatsapp:hover {
            transform: scale(1.1);
        }
    </style>


</footer>