<!DOCTYPE html>
<html lang="en">
<!--<< Header Area >>-->

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Gramentheme">
    <meta name="description" content="Ecomas - Multipurpose Ecommerce HTML Template">
    <!-- ======== Page title ============ -->
    <title>Metro Cabs</title>
    <!--<< Favcion >>-->
    <link rel="shortcut icon" href="assets/img/favicon.svg">
    <!--<< Bootstrap min.css >>-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--<< All Min Css >>-->
    <link rel="stylesheet" href="assets/css/all.min.css">
    <!--<< Animate.css >>-->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!--<< Magnific Popup.css >>-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!--<< MeanMenu.css >>-->
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <!--<< Swiper Bundle.css >>-->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <!--<< Nice Select.css >>-->
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <!--<< Color.css >>-->
    <link rel="stylesheet" href="assets/css/color.css">
    <!--<< Main.css >>-->
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>


    <!-- fix-area Start -->
    <div class="fix-area">
        <div class="offcanvas__info">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a href="index.html">
                                <img src="assets/img/logo/red-logo.svg" alt="logo-img">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button>
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <p class="text d-none d-xl-block">
                        Nullam dignissim, ante scelerisque the is euismod fermentum odio sem semper the is erat, a
                        feugiat leo urna eget eros. Duis Aenean a imperdiet risus.
                    </p>
                    <div class="mobile-menu fix mb-3"></div>
                    <div class="offcanvas__contact">
                        <h4>Contact Info</h4>
                        <ul>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="#">Main Street, Melbourne, Australia</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="mailto:info@example.com"><span
                                            class="mailto:info@example.com">info@example.com</span></a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-clock"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="#">Mod-friday, 09am -05pm</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="far fa-phone"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="tel:+11002345909">+11002345909</a>
                                </div>
                            </li>
                        </ul>
                        <div class="header-button mt-4">

                        </div>
                        <a href="contact.html" class="theme-btn"><span>Let’s Talk <i
                                    class="fa-solid fa-arrow-right"></i></span></a>
                        <div class="social-icon d-flex align-items-center">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay"></div>

    <!-- Sidebar Area Here -->
    <div id="targetElement" class="side_bar slideInRight side_bar_hidden">
        <div class="side_bar_overlay"></div>
        <div class="cart-title mb-50">
            <h4>Log in</h4>
        </div>
        <div class="login-sidebar">
            <form action="#" id="contact-form" method="POST">
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="form-clt">
                            <span>Username or email address *</span>
                            <input type="text" name="name15" id="name15" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-clt">
                            <span>Password *</span>
                            <input id="password" type="password" placeholder="">
                            <div class="icon"><i class="fa-regular fa-eye"></i></div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button class="theme-btn" type="submit"><span>Log In</span></button>
                    </div>
                    <div class="col-lg-12">
                        <div class="from-cheak-items">
                            <div class="form-check d-flex gap-2 from-customradio">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Remember Me
                                </label>
                            </div>
                            <p>Forgot Password?</p>
                        </div>
                    </div>
                </div>
            </form>
            <p class="text">Or login with</p>
            <div class="social-item">
                <a href="#" class="facebook-text"><img src="assets/img/facebook.png" alt="img">FACEBOOK</a>
                <a href="#" class="facebook-text google-text"><img src="assets/img/google.png" alt="img">Google</a>
            </div>
            <div class="user-icon-box">
                <img src="assets/img/user.png" alt="img">
                <p>No account yet?</p>
                <a href="account.html">Create an Account</a>
            </div>
        </div>
        <button id="closeButton" class="x-mark-icon"><i class="fas fa-times"></i></button>
    </div>


    <!-- Header Section Start -->

    <%- include('partials/header') -%>

    <!-- search-wrap Start -->
    <div class="search-wrap">
        <div class="search-inner">
            <i class="fas fa-times search-close" id="search-close"></i>
            <div class="search-cell">
                <form method="get">
                    <div class="search-field-holder">
                        <input type="search" class="main-search-input" placeholder="Search...">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- search-wrap End -->

<div class="swiper-slide">
    <div class="hero-3" style="margin-bottom: -40px;"> <!-- Reduces bottom space -->
        <div class="hero-bg bg-cover"
            style="background-image: url(assets/img/car/about1.jpg); height: 400px; background-size: cover; background-position: center;">
        </div>
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-10">
                    <div class="hero-content" style="margin-bottom: -20px;">
                        <center>
                            <h1 class="wow fadeInUp" data-wow-delay=".3s" style="font-family: 'Poppins'; color: white;">
                                Vehicles
                            </h1>
                        </center>
                        <center>
                            <ul class="breadcrumb-list" style="font-family: 'Poppins', sans-serif;">
                                <li>
                                    <h3 style="color: white;">
                                        <a href="/" style="font-family: 'Poppins'; color: white;">
                                            Home <span style="color: rgb(204, 159, 22);">>></span>
                                        </a>
                                        <a href="/about" style="font-family: 'Poppins'; color: white;">
                                            Vehicles
                                        </a>
                                    </h3>
                                </li>
                            </ul>
                        </center>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br>

    <!-- Header -section End -->

                    <!-- vehicles-section Start -->
                    
                    <section class="news-section section-padding pb-0 fix">
                        <div class="container">
                            <div class="section-title-area">
                                <div class="section-title">
                                    <h2 class="sub-title wow fadeInUp">
                                        <h2>Vehicles</h2>
                                    </h2>
                                    <h2 class="wow fadeInUp" data-wow-delay=".3s">
                                        <h3>Find your perfect ride with Metro Taxi</h3>
                                    </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                                    <div class="news-card-items">
                                        <div class="news-image">
                                            <img src="assets/img/car/swift.webp" alt="img">
                                            <!-- <h6 class="side-box">14 July, 2025</h6> -->
                                        </div>
                                        <div class="news-content"
                                            style="border: 1px solid #1d1515; padding: 15px; border-radius: 8px; margin-top: 10px;">
                                            <ul class="post-meta" style="list-style: none; padding: 0; margin: 0;">
                                                <center>
                                                    <h3 style="font-weight: bold; font-size: 22px; color: #2933c9; margin: 0;">Sedan</h3>
                                                </center>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                                    <div class="news-card-items">
                                        <div class="news-image">
                                            <img src="assets/img/car/etios.webp" alt="img">
                                            <!-- <h6 class="side-box">14 July, 2025</h6> -->
                                        </div>
                                        <div class="news-content"
                                            style="border: 1px solid #1d1515; padding: 15px; border-radius: 8px; margin-top: 10px;">
                                            <ul class="post-meta" style="list-style: none; padding: 0; margin: 0;">
                                                <center>
                                                    <h3 style="font-weight: bold; font-size: 22px; color: #2933c9; margin: 0;">Prime Sedan
                                                    </h3>
                                                </center>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                                    <div class="news-card-items">
                                        <div class="news-image">
                                            <img src="assets/img/car/suzuki-ertiga.webp" alt="img">
                                            <!-- <h6 class="side-box">14 July, 2025</h6> -->
                                        </div>
                                        <div class="news-content"
                                            style="border: 1px solid #1d1515; padding: 15px; border-radius: 8px; margin-top: 10px;">
                                            <ul class="post-meta" style="list-style: none; padding: 0; margin: 0;">
                                                <center>
                                                    <h3 style="font-weight: bold; font-size: 22px; color: #2933c9; margin: 0;">Prime SUV
                                                    </h3>
                                                </center>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                                    <div class="news-card-items">
                                        <div class="news-image">
                                            <img src="assets/img/car/innova.webp" alt="img">
                                            <!-- <h6 class="side-box">14 July, 2025</h6> -->
                                        </div>
                                        <div class="news-content"
                                            style="border: 1px solid #1d1515; padding: 15px; border-radius: 8px; margin-top: 10px;">
                                            <ul class="post-meta" style="list-style: none; padding: 0; margin: 0;">
                                                <center>
                                                    <h3 style="font-weight: bold; font-size: 22px; color: #2933c9; margin: 0;">Innova</h3>
                                                </center>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                                    <div class="news-card-items">
                                        <div class="news-image">
                                            <img src="assets/img/car/Innova crysta.webp" alt="img">
                                            <!-- <h6 class="side-box">14 July, 2025</h6> -->
                                        </div>
                                        <div class="news-content"
                                            style="border: 1px solid #1d1515; padding: 15px; border-radius: 8px; margin-top: 10px;">
                                            <ul class="post-meta" style="list-style: none; padding: 0; margin: 0;">
                                                <center>
                                                    <h3 style="font-weight: bold; font-size: 22px; color: #2933c9; margin: 0;">Innova Crysta
                                                    </h3>
                                                </center>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                                    <div class="news-card-items">
                                        <div class="news-image">
                                            <img src="assets/img/car/Honda-City (1).jpg" alt="img">
                                            <!-- <h6 class="side-box">14 July, 2025</h6> -->
                                        </div>
                                        <div class="news-content"
                                            style="border: 1px solid #1d1515; padding: 15px; border-radius: 8px; margin-top: 10px;">
                                            <ul class="post-meta" style="list-style: none; padding: 0; margin: 0;">
                                                <center>
                                                    <h3 style="font-weight: bold; font-size: 22px; color: #2933c9; margin: 0;">Honda City
                                                    </h3>
                                                </center>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
<style>
    .news-card-items {
        border-radius: 2px;
        overflow: hidden;
        border: 1px solid #ddd;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        padding: 15px;
        transition: all 0.3s ease;
    }

    /* Hover effect */
    .news-card-items:hover {
        border-color: blue;
        box-shadow: 0 0 10px rgba(0, 0, 255, 0.2);
        background-color: #f0f8ff;
        /* light blue background on hover */
    }

    .news-image img {
        width: 100%;
        border-radius: 2px;
    }

    .news-content h3 {
        color: blue;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
    }

    .post-meta {
        list-style: none;
        padding: 0;
        margin: 0;
    }
</style>

                    <br>
                    <!--  end vehicles -->



            <!-- footer-section Start -->
            
            <%- include('partials/footer') -%>
            
                <!-- footer-section End -->

    <!--<< All JS Plugins >>-->
    <script src="assets/js/jquery-3.7.1.min.js"></script>
    <!--<< Viewport Js >>-->
    <script src="assets/js/viewport.jquery.js"></script>
    <!--<< Bootstrap Js >>-->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!--<< Waypoints Js >>-->
    <script src="assets/js/jquery.waypoints.js"></script>
    <!--<< Counterup Js >>-->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!--<< Swiper Slider Js >>-->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!--<< MeanMenu Js >>-->
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <!--<< Magnific Popup Js >>-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!--<< Wow Animation Js >>-->
    <script src="assets/js/wow.min.js"></script>
    <!--<< Main.js >>-->
    <script src="assets/js/main.js"></script>
</body>

</html>