<!DOCTYPE html>
<html lang="en">
<!--<< Header Area >>-->

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Gramentheme">
    <meta name="description" content="Ecomas - Multipurpose Ecommerce HTML Template">
    <!-- ======== Page title ============ -->
    <title>Metro Cabs</title>
    <!--<< Favcion >>-->
    <link rel="shortcut icon" href="/assets/img/favicon.svg">
    <!--<< Bootstrap min.css >>-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!--<< All Min Css >>-->
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <!--<< Animate.css >>-->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!--<< Magnific Popup.css >>-->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!--<< MeanMenu.css >>-->
    <link rel="stylesheet" href="/assets/css/meanmenu.css">
    <!--<< Swiper Bundle.css >>-->
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <!--<< Nice Select.css >>-->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!--<< Color.css >>-->
    <link rel="stylesheet" href="/assets/css/color.css">
    <!--<< Main.css >>-->
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>


    <!-- fix-area Start -->
    <div class="fix-area">
        <div class="offcanvas__info">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a href="/">
                                <img src="/assets/img/logo/logo.jpg" alt="logo-img">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button>
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <p class="text d-none d-xl-block">
                        Nullam dignissim, ante scelerisque the is euismod fermentum odio sem semper the is erat, a
                        feugiat leo urna eget eros. Duis Aenean a imperdiet risus.
                    </p>
                    <div class="mobile-menu fix mb-3"></div>
                    <div class="offcanvas__contact">
                        <h4>Contact Info</h4>
                        <ul>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="#">Main Street, Melbourne, Australia</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="mailto:info@example.com"><span
                                            class="mailto:info@example.com">info@example.com</span></a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-clock"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="#">Mod-friday, 09am -05pm</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="far fa-phone"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="tel:+11002345909">+11002345909</a>
                                </div>
                            </li>
                        </ul>
                        <div class="header-button mt-4">

                        </div>
                        <a href="/contact" class="theme-btn"><span>Let’s Talk <i
                                    class="fa-solid fa-arrow-right"></i></span></a>
                        <div class="social-icon d-flex align-items-center">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay"></div>

    <!-- Sidebar Area Here -->
    <div id="targetElement" class="side_bar slideInRight side_bar_hidden">
        <div class="side_bar_overlay"></div>
        <div class="cart-title mb-50">
            <h4>Login / Register</h4>
        </div>
        <div class="login-sidebar">
            <form action="#" id="contact-form" method="POST">
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="form-clt">
                            <span>Username or email address *</span>
                            <input type="text" name="name15" id="name15" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-clt">
                            <span>Password *</span>
                            <input id="password" type="password" placeholder="">
                            <div class="icon"><i class="fa-regular fa-eye"></i></div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button class="theme-btn" type="submit"><span>Log In</span></button>
                    </div>
                    <div class="col-lg-12">
                        <div class="from-cheak-items">
                            <div class="form-check d-flex gap-2 from-customradio">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Remember Me
                                </label>
                            </div>
                            <p>Forgot Password?</p>
                        </div>
                    </div>
                </div>
            </form>
            <p class="text">Or login with</p>
            <div class="social-item">
                <a href="#" class="facebook-text"><img src="assets/img/facebook.png" alt="img">FACEBOOK</a>
                <a href="#" class="facebook-text google-text"><img src="assets/img/google.png" alt="img">Google</a>
            </div>
            <div class="user-icon-box">
                <img src="/assets/img/user.png" alt="img">
                <p>No account yet?</p>
                <a href="account.html">Create an Account</a>
            </div>
        </div>
        <button id="closeButton" class="x-mark-icon"><i class="fas fa-times"></i></button>
    </div>


    <!-- Header Section Start -->

    <%- include('partials/header') -%>


            <div class="contactbanner innerbanner">
                <div class="inner-breadcrumb">
                    <div class="container">
                        <div class="row align-items-center text-center">
                            <div class="col-md-12 col-12 ">
                                <h2 class="breadcrumb-title">OTP Verification</h2>
                                <nav aria-label="breadcrumb" class="page-breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">OTP Verification</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="contactusform-section py-5">
                <div class="container">
                    <div class="contact-info">
                        <h2>Verify <span>Now</span></h2>
                        <p>Verify the OTP for booking confirmation on the provided mobile number.</p>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="contactus-form card p-5">
                                <div class="row gap-4">
                                    <div class="col-lg-12 flex-center" style="display: none;">
                                        <input name="otp" id="otp" type="text" class="form-control mw-350" placeholder="Enter OTP*" />
                                    </div>
                                    <div class="col-lg-12 flex-center">
                                      
                                        <button id="send_otp_btn" class="btn btn-primary mw-350"> Send OTP </button>
                                        <p class="text-danger" id="error_msg"></p>
                                    </div>
                                    <div class="col-lg-12 text-center" style="display: none;">
                                        <button id="verify_otp_btn" class="btn btn-primary mw-350" type="submit"> Verify OTP </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contactform-img">
                                <img src="/assets/img/contactform-img.svg" class="img-fluid" alt>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <%- include('partials/footer') -%>

    </div>


    <script>

        const sendBtn = document.getElementById('send_otp_btn')

        const bookingData = sessionStorage.getItem("bookingInfo")
        const data = JSON.parse(sessionStorage.getItem("bookingInfo"))

        const verifyBtn = document.getElementById('verify_otp_btn')

        sendBtn.addEventListener("click", async () => {
          
            const otp = document.getElementById('otp')
            sendBtn.disabled = true

            const send = await fetch("/otp/send", {
                method: 'post',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ mobile: data?.mobile })
            })

            otpRes = await send.json()

            console.log("OTP : ",otpRes);

            sendBtn.parentNode.style.display = "none"
            otp.parentNode.style.display = "flex"
            verifyBtn.parentNode.style.display = "initial"
        })


        verifyBtn.addEventListener("click", async (event) => {
            event.preventDefault()

            verifyBtn.disabled = true

            const verify = await fetch("/otp/verify", {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({ token: otpRes?.token, otp: otp.value })
            })
            const response = await verify.json()

            console.log(response, response.status);

            if (response.status == 401) {
                alert("OTP Incorrect")
                verifyBtn.disabled = false
                document.getElementById('error_msg').innerHTML = "OTP Invaild";
                alert("Network Problem Retry")
                location.href = "/verification"
                return
            }
            if (response.status == 200) {
                location.href = "/success"
            }
        })
      
      </script>

      
            <!--<< All JS Plugins >>-->
            <script src="assets/js/jquery-3.7.1.min.js"></script>
            <!--<< Viewport Js >>-->
            <script src="assets/js/viewport.jquery.js"></script>
            <!--<< Bootstrap Js >>-->
            <script src="assets/js/bootstrap.bundle.min.js"></script>
            <script src="assets/js/jquery.nice-select.min.js"></script>
            <!--<< Waypoints Js >>-->
            <script src="assets/js/jquery.waypoints.js"></script>
            <!--<< Counterup Js >>-->
            <script src="assets/js/jquery.counterup.min.js"></script>
            <!--<< Swiper Slider Js >>-->
            <script src="assets/js/swiper-bundle.min.js"></script>
            <!--<< MeanMenu Js >>-->
            <script src="assets/js/jquery.meanmenu.min.js"></script>
            <!--<< Magnific Popup Js >>-->
            <script src="assets/js/jquery.magnific-popup.min.js"></script>
            <!--<< Wow Animation Js >>-->
            <script src="assets/js/wow.min.js"></script>
            <!--<< Main.js >>-->
            <script src="assets/js/main.js"></script>
            </body>
            
            </html>